.path106Icon {
  position: absolute;
  height: 30.59%;
  width: 100%;
  top: 0;
  right: -0.29%;
  bottom: 69.41%;
  left: 0.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild {
  position: absolute;
  top: 377px;
  left: 88px;
  background-color: #f4f4f4;
  width: 380px;
  height: 718px;
}
.groupItem {
  position: absolute;
  top: calc(50% - 59.5px);
  left: calc(50% - 370.29px);
  width: 217px;
  height: 222px;
  z-index: 3;
}
.materialSymbolslocationOnIcon {
  position: absolute;
  top: 61px;
  left: 0.79px;
  width: 29.87px;
  height: 30.65px;
  overflow: hidden;
}
.lagosNigeria,
.melissaPeters {
  position: absolute;
  display: inline-block;
}
.lagosNigeria {
  top: 68.28px;
  left: 33.68px;
  line-height: 87.52%;
  font-weight: 500;
  width: 132.4px;
  height: 29.85px;
}
.melissaPeters {
  top: 0;
  left: calc(50% - 92.28px);
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-darkslategray);
  width: 184.56px;
  height: 24.7px;
}
.interiorDesigner1 {
  margin: 0;
}
.interiorDesigner {
  position: absolute;
  top: 37px;
  left: calc(50% - 78.49px);
  line-height: 87.52%;
  font-weight: 500;
  display: inline-block;
  width: 146.44px;
  height: 24.7px;
}
.materialSymbolslocationOnParent {
  position: absolute;
  top: 880px;
  left: 179px;
  width: 184.56px;
  height: 98.13px;
}
.div {
  position: absolute;
  top: 0;
  left: calc(50% - 36.62px);
  line-height: 87.52%;
  font-weight: 600;
  display: inline-block;
  width: 64.19px;
  height: 24.7px;
}
.level,
.parent {
  position: absolute;
  width: 79.24px;
}
.level {
  top: 36px;
  left: calc(50% - 39.62px);
  font-size: var(--font-size-base);
  line-height: 87.52%;
  font-weight: 500;
  color: var(--color-dimgray);
  display: inline-block;
  height: 14.41px;
}
.parent {
  top: 1px;
  left: calc(50% - 142.11px);
  height: 50.41px;
}
.div1 {
  top: 0;
  left: 8px;
  line-height: 87.52%;
  font-weight: 600;
  display: inline-block;
  width: 73.22px;
  height: 24.7px;
}
.div1,
.friends,
.group {
  position: absolute;
}
.friends {
  top: 36px;
  left: calc(50% - 40.61px);
  font-size: var(--font-size-base);
  line-height: 87.52%;
  font-weight: 500;
  color: var(--color-dimgray);
  display: inline-block;
  width: 66px;
  height: 15px;
}
.group {
  top: 1px;
  left: 203px;
  width: 81.22px;
  height: 51px;
}
.div2,
.trees {
  position: absolute;
  top: 0;
  left: calc(50% - 49.63px);
  line-height: 87.52%;
  font-weight: 600;
  display: inline-block;
  width: 74px;
  height: 25px;
}
.trees {
  top: 37px;
  left: calc(50% - 38.63px);
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-dimgray);
  width: 88.27px;
  height: 14.41px;
}
.container,
.groupParent {
  position: absolute;
  top: 0;
  left: calc(50% - 41.11px);
  width: 99.27px;
  height: 51.41px;
}
.groupParent {
  top: 724px;
  left: calc(50% - 396.29px);
  width: 284.22px;
  height: 52px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11px;
  background-color: var(--color-darkslategray);
  width: 137.18px;
  height: 39.74px;
}
.editProfile,
.editProfile1 {
  position: absolute;
  top: calc(50% - 68.67px);
  left: calc(50% - 39.59px);
  line-height: 87.52%;
  display: inline-block;
  width: 85.18px;
  height: 14.35px;
}
.editProfile1 {
  top: calc(50% + 67.33px);
  left: calc(50% - 42.59px);
}
.path106Parent,
.rectangleParent {
  position: absolute;
  top: 817px;
  left: 199px;
  width: 137.18px;
  height: 163.35px;
  font-size: var(--font-size-mini);
  color: var(--blackampwhite-white);
}
.path106Parent {
  height: 90.12%;
  width: 73.1%;
  top: 0.08%;
  right: 27.11%;
  bottom: 9.79%;
  left: -0.21%;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.myForest {
  position: absolute;
  top: 364px;
  left: 639px;
  line-height: 87.52%;
  font-weight: 600;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 123px;
}
.macbookAir1Child {
  position: absolute;
  top: 390.5px;
  left: 628px;
  width: 134px;
  height: 1px;
}
.friendsParent,
.lineDiv {
  position: absolute;
  width: 124px;
}
.lineDiv {
  top: 26.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 1px;
  opacity: 0.1;
}
.friendsParent {
  top: 364px;
  left: 990px;
  height: 27px;
}
.badges {
  position: absolute;
  top: 0;
  left: 36px;
  line-height: 87.52%;
  display: inline-block;
  width: 88px;
}
.lineParent {
  position: absolute;
  top: 364px;
  left: 814px;
  width: 124px;
  height: 27px;
}
.vectorIcon,
.vectorIcon1 {
  position: relative;
  width: 42px;
  height: 40px;
}
.vectorIcon1 {
  width: 81px;
  height: 66px;
}
.imgAvatar {
  position: absolute;
  top: 538px;
  left: calc(50% - 543px);
  width: 163px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 3.7333335876464844px 9.256987571716309px 3.7353897094726562px
    9.260420799255371px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 2.36px;
}
.card2Child,
.macbookAir1 {
  position: absolute;
  top: 0;
  left: 0;
}
.macbookAir1 {
  background-color: transparent;
  width: 1440px;
  height: 1215px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.card2Child {
  border-radius: var(--br-3xs);
  background-color: #cee963;
  width: 226.9px;
  height: 105.7px;
}
.card2Item {
  position: absolute;
  top: 26.88px;
  left: 149.9px;
  border-radius: var(--br-xl);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 12.379447937011719px 19.45px rgba(0, 0, 0, 0.02);
  width: 48.75px;
  height: 51.94px;
}
.virtualforesticon1 {
  position: absolute;
  top: 33.46px;
  left: 155.08px;
  width: 37.54px;
  height: 35.1px;
  object-fit: cover;
}
.div3,
.totalTrees {
  position: absolute;
  left: calc(50% - 102.84px);
  display: inline-block;
}
.div3 {
  top: 53.87px;
  line-height: 87.52%;
  width: 60.4px;
  height: 20.4px;
}
.totalTrees {
  top: 18.77px;
  font-size: var(--font-size-xl);
  width: 150.63px;
  height: 20.16px;
}
.card2,
.card3Child {
  position: absolute;
  top: 446px;
  left: 507px;
  width: 226.9px;
  height: 105.7px;
  background-color: #f4f4f4;
}
.card3Child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-aquamarine);
}
.garden {
  position: absolute;
  top: 53.87px;
  left: calc(50% - 102.84px);
  line-height: 87.52%;
  font-weight: 600;
  display: inline-block;
  width: 110.19px;
  height: 20.4px;
  
}
.card3,
.card4Child {
  position: absolute;
  top: 446px;
  left: 764.1px;
  width: 226.9px;
  height: 105.7px;
  background-color: #f4f4f4;
}
.card4Child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color:chartreuse;
}
.nextStage,
.orchard {
  left: calc(50% - 102.45px);
  display: inline-block;
}
.orchard {
  position: absolute;
  top: 51px;
  line-height: 87.52%;
  font-weight: 600;
  width: 110.19px;
  height: 20.4px;
}
.nextStage {
  top: 19px;
  font-size: var(--font-size-xl);
  width: 150.63px;
  height: 20.16px;
}
.card4,
.nextStage,
.toGo {
  position: absolute;
}
.toGo {
  top: 79px;
  left: calc(50% - 97.45px);
  font-size: 14px;
  display: inline-block;
  width: 150.63px;
  height: 20.16px;
}
.card4 {
  top: 446px;
  left: 1021px;
  width: 226.9px;
  height: 105.7px;
}
.treesHealthChild {
  position: absolute;
  top: 55.72px;
  left: 1px;
  width: 156.64px;
  height: 63.19px;
}
.optimum,
.plantsHealth {
  position: absolute;
  display: inline-block;
}
.plantsHealth {
  top: 0;
  left: calc(50% - 83px);
  font-weight: 600;
  width: 166px;
  height: 23.08px;
}
.optimum {
  top: 128.16px;
  left: calc(50% - 78px);
  width: 151px;
  height: 16.72px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkslategray);
  width: 119px;
  height: 27.06px;
}
.review {
  position: absolute;
  top: 6.37px;
  left: 14px;
  display: inline-block;
  width: 92px;
  height: 13.53px;
}
.rectangleGroup {
  position: absolute;
  top: 171.94px;
  left: 21px;
  width: 119px;
  height: 27.06px;
  font-size: var(--font-size-base);
  color: var(--blackampwhite-white);
}
.treesHealth {
  position: absolute;
  top: 602px;
  left: 547px;
  width: 166px;
  height: 199px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.contributionChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #e6da4d;
  width: 227px;
  height: 227px;
}
.totalContribution,
.towardsPlanters {
  position: absolute;
  display: inline-block;
}
.towardsPlanters {
  top: 81px;
  left: calc(50% - 86.5px);
  text-align: left;
  width: 174px;
  height: 20px;
}
.totalContribution {
  top: 16px;
  left: calc(50% - 82.5px);
  font-size: var(--font-size-5xl);
  font-weight: 600;
  width: 166px;
  height: 29px;
}
.b,
.groupChild2 {
  position: absolute;
}
.b {
  top: 123px;
  left: calc(50% - 82.5px);
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 166px;
  height: 28px;
}
.groupChild2 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkslategray);
  width: 119px;
  height: 34px;
}
.breakdown {
  position: absolute;
  top: 8px;
  left: 14px;
  display: inline-block;
  width: 92px;
  height: 17px;
}
.rectangleContainer {
  position: absolute;
  top: 182px;
  left: 54px;
  width: 119px;
  height: 34px;
  font-size: var(--font-size-base);
  color: var(--blackampwhite-white);
}
.contribution {
  position: absolute;
  top: 867px;
  left: 524px;
  width: 227px;
  height: 227px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.collectiblesEarned1 {
  position: absolute;
  top: 0;
  left: calc(50% - 116.5px);
  font-size: var(--font-size-5xl);
  font-weight: 600;
  display: inline-block;
  width: 226px;
  height: 23px;
}
.treeNftChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #def7e3;
  width: 227px;
  height: 148px;
}
.virtualforesticon13 {
  position: absolute;
  top: 13.04px;
  left: 85px;
  width: 51px;
  height: 89.97px;
  object-fit: cover;
}
.treeNft1 {
  position: absolute;
  top: 112.14px;
  left: calc(50% - 69.5px);
  line-height: 87.52%;
  font-weight: 600;
  display: inline-block;
  width: 134px;
  height: 13.04px;
}
.gardenNftChild,
.treeNft {
  position: absolute;
  top: 51px;
  left: 3px;
  width: 227px;
  height: 148px;
}
.gardenNftChild {
  top: 53px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-aquamarine);
  height: 227px;
}
.virtualforesticon14 {
  position: absolute;
  top: 0;
  left: 64px;
  width: 85px;
  height: 230px;
  object-fit: cover;
}
.gardenNft1 {
  position: absolute;
  top: 184px;
  left: calc(50% - 95.5px);
  line-height: 87.52%;
  font-weight: 600;
  display: inline-block;
  width: 178px;
  height: 20px;
}
.groupDiv {
  position: absolute;
  top: 232px;
  left: 51px;
  width: 119px;
  height: 34px;
  font-size: var(--font-size-base);
  color: var(--blackampwhite-white);
}
.gardenNft {
  position: absolute;
  top: 212px;
  left: 6px;
  width: 227px;
  height: 280px;
}
.collectiblesEarned {
  position: absolute;
  top: 602px;
  left: calc(50% + 45px);
  width: 233px;
  height: 492px;
  text-align: center;
}
.rewards1 {
  position: absolute;
  top: 0;
  left: calc(50% - 108.5px);
  font-weight: 600;
  display: inline-block;
  width: 226px;
  height: 16.75px;
}
.rewardsChild {
  position: absolute;
  top: 35.68px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgreen);
  width: 227px;
  height: 165.32px;
}
.totalCarbonOffset {
  position: absolute;
  top: 52.43px;
  left: calc(50% - 86.5px);
  font-weight: 600;
  display: inline-block;
  width: 166px;
  height: 21.12px;
}
.rewards,
.t {
  position: absolute;
}
.t {
  top: 130.36px;
  left: calc(50% - 86.5px);
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 166px;
  height: 20.39px;
}
.rewards {
  top: 600px;
  left: calc(50% + 308px);
  width: 235px;
  height: 201px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.userdashboardChild {
  position: absolute;
  top: 867px;
  left: 1020px;
  border-radius: var(--br-3xs);
  background-color: #75d63a;
  width: 227px;
  height: 227px;
}
.refiRewardsFrom {
  position: absolute;
  top: 904px;
  left: calc(50% + 329px);
  line-height: 151.52%;
  font-weight: 600;
  color: var(--blackampwhite-white);
  display: inline-block;
  width: 172px;
  height: 181px;
}
.x6bd5d59a2a {
  position: absolute;
  top: 12px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 22px;
}
.x6bd5d59a2aWrapper {
  position: absolute;
  top: 51px;
  left: 1197px;
  border-radius: 29px;
  background-color: #3d4917;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 186px;
  height: 48px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--blackampwhite-white);
}
.greenCreativeGrowingSeedFoIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 125px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.userdashboard {
  position: relative;
  background: linear-gradient(180deg, #aaf361, #cee963);
  width: 100%;
  height: 1197px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
